* {
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Clear Sans", "Helvetica Neue", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-bottom-pad-16 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.canvas {
  display: flex;
  flex-direction: column;
  background-color: rgba(232, 232, 232, 0.164);
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  border-bottom: 1px solid #d3d6da;
  font-size: 1.375rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
}

.instruction {
  display: flex;
  padding: 1em;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-style: italic;
  font-size: 0.9rem;
}

.board-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  &__board-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    margin-bottom: 5px;
  }
  &__cell {
    height: 2.875em;
    width: 2.875em;
    border: 2px solid #d3d6da;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    &__OX {
      border-color: #c9b458;
      background-color: #c9b458;
      color: white;
    }
    &__XX {
      border-color: #6aaa64;
      background-color: #6aaa64;
      color: white;
    }
    &__OO {
      border-color: #787c7e;
      background-color: #787c7e;
      color: white;
    }
  }
  &__poss-words {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    &__word {
      border: 1.5px solid #d3d6da;
      padding: 0.2em;
      font-size: 0.8rem;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: #d3d6da;
      }
    }
  }

  &__answer {
    border: 1.5px solid #6aaa64;
    padding: 0.2em;
    font-size: 1.5rem;
    user-select: none;
    cursor: pointer;
    background-color: #6aaa64;
    color: white;
  }
}

.game-keyboard {
  width: 100%;
  height: 208px;
  &__row {
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
  }
  &__inner {
    margin: 0 0.5em;
    margin-top: 0.5em;
    user-select: none;
  }
  &__key {
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    background-color: #d3d6da;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__spacer-050 {
    flex: 0.5;
  }
  &__space-150 {
    flex: 1.5;
  }
}
